table { border: none; border-collapse: collapse;}
table td {padding-bottom: calc(0.85em/2); padding-top: calc(0.85em/2); flex-shrink:1; margin-bottom:0.5em}
table tr {display:flex; flex-direction:column; flex-flow: row wrap; row-gap:4em;}